@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap,Acme&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Acme', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(219, 219, 35);
}  

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: red;
}

::-webkit-scrollbar-thumb:hover{
    width: 10px;
    background-color: red;
}

nav{
    position: fixed;
    width: 98%;
    height: 60px;
    margin-left: 1%;
    top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 99;
}
.navfont{
    margin-left: 30px;
    font-size: 20px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 11px;
    box-shadow: 0 0 1px 1px rgb(231, 231, 231);
}

.slider::before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgb(231, 231, 231);
}
input:checked + .slider{
    background-color: dodgerblue;
}
input:focus + .slider::before{
    box-shadow: 0 0 1px 1px rgb(231, 231, 231);
}
input:checked + .slider::before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.view{
    padding: 20px;
    font-size: 20px;
    margin-top: 60px;
}

.continue{
    text-align: center;
    background-color: coral;
    font-size: 50px;
    margin-top: 60px;
}

section{
    margin-top: 60px;
}

section img{
    width: 60%;
    height: auto;
    margin-left: 20%;
    float: left;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#gotop{
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    cursor: pointer;    
}

/*တရားနာရန်*/
.container{
    display: flex;
}
.left{
    flex: 20%;
    padding: 15px;
    background-color: rgb(219, 219, 219);
}
#search{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid tomato;
    outline: none;
}
.left h2 a{
    text-decoration: none;
    color: black;
}
.left ul{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.left li a{
    padding: 12px 10px;
    text-decoration: none;
    color: black;
    display: block;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-color ease-in-out .3s;
}
.left li a:hover{
    background-color: rgb(194, 194, 194);
}
.right{
    flex: 65%;
}
.right .pad{
    padding: 1%;
}
.right .box{
    width: 23%;
    background-color: black;
    height: 200px;
    border-radius: 10px;
    float: left;
    margin-left: 1.5%;
    margin-top: 10px;
}
.right .box:hover{
    background-color: rgb(194, 194, 194);
}
.right .title{
    width: 20%;
    background-color: rgb(235, 235, 235);
    height: 50px;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    padding: 15px;
}
.right .bar{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    section img{
        width: 100%;
        margin: 0;
    }
}